<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link the bootstrap cnd -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Link the noty cdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link the noty cdn js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <%- style %>
        <title>NodeJs - Authentication</title>
</head>

<body>
    <!-- Nav bar section -->
    <nav class="  navbar navbar-expand-lg bg-body-tertiary">
        <div class=" d-flex justify-content-between container-fluid">
            <div class="mr-auto p-2">
                <img src="https://img.icons8.com/?size=1x&id=as92zhgzsPbY&format=png" alt="">
                <a class="navbar-brand" href="#">User Authentication</a>

            </div>

            <div class="p-2">
                <%if(locals.user){%>
                    <h3>
                        <%= user.name %>
                    </h3>
                    <% } %>
            </div>
            <!-- Logout Button -->
            <div class="p-2">
                <%if(locals.user){%>
                    <a href="/logout" class="btn btn-secondary" role="button" type="submit">Logout</a>
                    <% } %>
            </div>
        </div>
    </nav>
    <%- body %>
        <%- include('./partial/messages'); %>
</body>

</html>