<link rel="stylesheet" href="/css/login.css">
<form action="/signin" class="signupContainer" method="post">
    <!-- Heading -->
    <h1 class="loginHeading">Login</h1>

    <div class="inputField">
        <input class="inputFieldi" type="text" name="email" placeholder='Enter Your Email' />
    </div>
    <div class="inputField">
        <input class="inputFieldi" type="text" name="password" placeholder='Enter Your Password' />
    </div>
    <div class="btncontainer">
        <button class="btn" type="submit">Login</button>
    </div>
    <div>
        <p>Don't have an account <a href="/">Signup</a></p>
    </div>
    <div>
        <p> <a href="/reset">Reset Password</a></p>
    </div>

    <div class="hr">
        <span class="span1">__________________</span>
        <span class="spanor">Or</span>
        <span class="span2">__________________</span>
    </div>
    <div class="btncontainer">
        <div class="gbtn">
            <img class="gimg" src="https://img.icons8.com/color/1x/google-logo.png" alt="" />
            <a class="glink" href="/auth/google">Login with google</a>
        </div>
    </div>
</form>