<link rel="stylesheet" href="/css/signup.css">
<form action="/signup" method="post" class="signupContainer">
    <!-- Heading Section -->
    <h1 class="signupHeading">Signup</h1>
    <div class="inputField">
        <input class="inputFieldi" type="text" name="name" placeholder='Enter Your Name' />
    </div>
    <div class="inputField">
        <input class="inputFieldi" type="text" name="email" placeholder='Enter Your Email' />
    </div>
    <div class="inputField">
        <input class="inputFieldi" type="password" name="password" placeholder='Enter Your Password' />
    </div>
    <div class="inputField">
        <input class="inputFieldi" type="password" name="confirm_Password" placeholder='Enter Your Confirm Password' />

    </div>
    <div class="btncontainer">
        <button type="submit" class="btn">Signup</button>
    </div>
    <div>
        <p>Already have an account <a href="/login">Login</a></p>
    </div>
    <div class="hr">
        <span class="span1">__________________</span>
        <span class="spanor">Or</span>
        <span class="span2">__________________</span>
    </div>
    <!-- Button Container Section -->
    <div class="btncontainer">

        <div class="gbtn">
            <img class="gimg" src="https://img.icons8.com/color/1x/google-logo.png" alt="google-logo" />
            <a class="glink " href="/auth/google">Login with Google</a>
        </div>

    </div>
</form>

